<html>
<head>
  <meta charset="utf-8">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="../../../UCSD_IMM_Static/common/JS/Lib/jquery-ui-1.11.4/jquery-ui.css">
  <script src="../../../UCSD_IMM_Static/common/JS/Lib/jquery-ui-1.11.4/external/jquery/jquery.js"></script>
  <script src="../../../UCSD_IMM_Static/common/JS/Lib/jquery-ui-1.11.4/jquery-ui.js"></script>
  <script>
  $(function() {
    $( "#datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
  });
  </script>
</head>
<body>
 
<p>Date: <input type="text" id="datepicker"></p>
 
 
</body>
</html>