{% load staticfiles %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}
{% localtime on %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>HERMIT copy map</title>
<link href="{% static "appNichoAnu/CSS/map_Anurag1_2.css" %}" rel="stylesheet" type="text/css">
</head>

<body>
<div id="header1">
   <div id="header1_sub1">
      <div id="header1_sub1_anu">
         <img src="{% static "appNichoAnu/Images/hermit_illust629.png" %}" width=96px height=84px/>
         <!-- This was take from http://illust.okinawa/k-sea/e629.html
              Can be switched to Anurag2016_3mini.jpg -->
      </div>
      <div id="header1_sub1_title1">
         <!--  
         <span class="red">AN</span>
         <span class="red">U</span>ltimate <span class="red">R</span>ough
         <span class="red">AG</span>gregation of Metabolic Map
         -->
        An Ultimate Rough Aggregation of Metabolic Map
      </div>
      <div id="header1_sub1_title2">
         Highly Energetic Republic Managing Information Technology (HERMIT)
      </div>
      <div class="float_clear"></div>
   </div>
</div>

<div id="maindish">

<img class="place_in_middle" src="{{ image_url }}"/>   

<H2>Edge deleted</H2>

 <hr>

 <div id="below_hr">
  <span class="link1"><a href="{% url 'appNichoAnu:index' %}">Go back to top page</a></span>
 </div>

                                       
</div>

<div id="footer1">
HERMIT 2016, greatly inspired by
<a href="http://www.sigmaaldrich.com/life-science/metabolomics/learning-center/metabolic-pathways.html">
Nicholson's Metabolic Pathway Chart</a>.
</div>
</body>

</html>

{% endlocaltime %}

