{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>HERMIT copy map</title>
<link href="{% static "appNichoAnu/CSS/map_Anurag1_2.css" %}" rel="stylesheet" type="text/css">
</head>

<body>
<div id="header1">
   <div id="header1_sub1">
      <div id="header1_sub1_anu">
         <img src="{% static "appNichoAnu/Images/Anurag2016_3mini.jpg" %}" width=96px height=84px/>
      </div>
      <div id="header1_sub1_title1">
         <span class="red">AN</span>
         <span class="red">U</span>ltimate <span class="red">R</span>ough
         <span class="red">AG</span>gregation of Metabolic Map
      </div>
      <div id="header1_sub1_title2">
         Highly Energetic Republic Managing Information Technology (HERMIT)
      </div>
      <div class="float_clear"></div>
   </div>
</div>
<div id="maindish">

<!-- {{ message|safe }} -->

<H2>Study and Survey</H2>   


<H3>Flux analysis</H3>

<p>
Yang TH (2013)<br/>
<B>13C-based metabolic flux analysis: fundamentals and practice</B>.<br/>
<I>Methods Mol Biol</I> 985:297-334<br/>
PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/23417810">23417810</a>
</p>


<H3>Metabolome general</H3>

<p>
Nielsen J, Keasling JD (2016)<br/>
<B>Engineering Cellular Metabolism</B>.<br/>
<I>Cell</I> 164(6):1185-97<br/>
PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/26967285">26967285</a>
</p>

<p>
Chen Q, Yan M, Cao Z, Li X, Zhang Y, Shi J, Feng GH, Peng H, Zhang X, Zhang Y, Qian J, Duan E, Zhai Q, Zhou Q (2016)<br/>
<B>Sperm tsRNAs contribute to intergenerational inheritance of an acquired metabolic disorder</B>.<br/>
<I>Science</I> 351(6271):397-400<br/>
PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/26721680">26721680</a>
</p>

<p>
Yang L, Tan J, O'Brien EJ, Monk JM, Kim D, Li HJ, Charusanti P, Ebrahim A, Lloyd CJ, Yurkovich JT, Du B, Drager A, Thomas A, Sun Y, Saunders MA, Palsson BO (2015)<br/>
<B>Systems biology definition of the core proteome of metabolism and expression is consistent with high-throughput data</B>.<br/>
<I>Proc Natl Acad Sci U S A</I> 112(34):10810-5<br/>
PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/26261351">26261351</a>
</p>

<p>
Rueedi R, Ledda M, Nicholls AW, Salek RM, Marques-Vidal P, Morya E, Sameshima K, Montoliu I, Da Silva L, Collino S, Martin FP, Rezzi S, Steinbeck C, Waterworth DM, Waeber G, Vollenweider P, Beckmann JS, Le Coutre J, Mooser V, Bergmann S, Genick UK, Kutalik Z (2014)<br/>
<B>Genome-wide association study of metabolic traits reveals novel gene-metabolite-disease links</B>.<br/>
<I>PLoS Genet</I> 10(2):e1004132<br/>
PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/24586186">24586186</a>
</p>

<p>
Li S, Park Y, Duraisingham S, Strobel FH, Khan N, Soltow QA, Jones DP, Pulendran B (2013)<br/>
<B>Predicting network activity from high throughput metabolomics</B>.<br/>
<I>PLoS Comput Biol</I> 9(7):e1003123<br/>
PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/23861661">23861661</a>
</p>

<p>
Carazzolle MF, de Carvalho LM, Slepicka HH, Vidal RO, Pereira GA, Kobarg J, Meirelles GV (2014)<br/>
<B>IIS--Integrated Interactome System: a web-based platform for the annotation, analysis and visualization of protein-metabolite-gene-drug interactions by integrating a variety of data sources and tools</B>.<br/>
<I>PLoS One</I> 9(6):e100385<br/>
PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/24949626">24949626</a>
</p>

<p>
Yizhak K, Benyamini T, Liebermeister W, Ruppin E, Shlomi T (2010)<br/>
<B>Integrating quantitative proteomics and metabolomics with a genome-scale metabolic network model</B>.<br/>
<I>Bioinformatics</I> 26(12):i255-60<br/>
PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/20529914">20529914</a>
</p>


    
<hr>    

 <div id="below_hr">
  <p>
  <span class="link1"><a href="{% url 'appNichoAnu:index' %}">Top page</a></span>  
  </p>
 </div>

</div>

<div id="footer1">
HERMIT 2016, greatly inspired by
<a href="http://www.sigmaaldrich.com/life-science/metabolomics/learning-center/metabolic-pathways.html">
Nicholson's Metabolic Pathway Chart</a>.
</div>

</body>

</html>
