{% load staticfiles %}

<html>
<head>
<title>Plan information</title>
</head>

<body>

<H1>Planned Work Chunk Information</H1>

{% if wc_recs %}

   <H2>Plan: {{ wc_recs.0.corresp_plan.plan_title }}</H2>

   <DL>
   <DT>Chunk class / type</DT>
   <DD>{{ wc_recs.0.corresp_plan.chunk_class }} / {{ wc_recs.0.corresp_plan.chunk_type }}</DD>
   <DT>Project</DT>
   <DD>{{ wc_recs.0.corresp_plan.project }}</DD>
   <DT>Planned time frame</DT>
   <DD>{{ wc_recs.0.corresp_plan.begin_time }} - {{ wc_recs.0.corresp_plan.finish_time }}</DD>
   <DT>Plan status</DT>
   <DD>{{ wc_recs.0.corresp_plan.plan_status }}</DD>   
   <DT>Plan note</DT>
   <DD>{{ wc_recs.0.corresp_plan.plan_note }}</DD>   
   </DL>

   <H2>Records for Actual Works</H2>
   {% for rec in wc_recs %}

      <H3>Worked period #{{ forloop.counter }}: {{ rec.start_time }} - {{ rec.end_time }}</H3>
      <DL>
      <DT>Weight per time</DT>
      <DD>{{ rec.weight_per_time }}</DD>
      <DT>Note</DT>
      <DD>{{ rec.rec_note }}</DD>
      </DL>

   {% endfor %}

   <H2>Service Evaluation for Planned Works</H2>
   {% for evl in sv_evls %}

      <H3>Served information #{{ forloop.counter }}</H3>
      <DL>
      <DT>Score</DT>
      <DD>{{ evl.score }}</DD>
      <DT>Note</DT>
      <DD>{{ evl.served_note }}</DD>
      </DL>

   {% endfor %}

{% endif %}



</body>
</html>
