{% load staticfiles %}

<html>
<head>
<title>Batch adjustment result ready</title>
</head>

<body>

<H1>Result of batch adjustment</H1>

<UL>
<LI><a href="{{ PDFfile }}">Plot</a> of adjusted metabolite levels of control samples in each batch</LI>
<LI><a href="{{ XLSfile }}">Spreadsheet</a> of adjusted metabolite levels of control samples in each batch</LI>
<LI>Tab-separated files (TSV files)
   <UL>
   <LI><a href="{{ irawfile }}">Raw input</a></LI>
   <LI><a href="{{ iTSVfile }}">Batch-unadjusted</a></LI>
   <LI><a href="{{ oTSVfile }}">Batch-adjusted</a></LI>   
   </UL>
</LI>
</UL>
<!-- {{ MEDIA_URL }} -->

<H1>Given parameters</H1>
<DL>
<DT>Method for representative value calculation</DT>
<DD>{{ mn_func_sel }}</DD>
<DT>Small quantity to assign to metabolite levels below that quantity including 0 and no value</DT>
<DD>{{ smallvalforzerosnans }}</DD>
<DT>Threshold of coefficient of variance (CV) of controls within each batch</DT>
<DD>{{ ctrl_cv_thres }}</DD>
<DT>Factor to identify median of controls within a batch that is outlier with respect to other control medians in different batches</DT>
<DD>{{ ctrlmedian_outfactor }}</DD>
</DL>


<hr/>

<a href="{% url 'UCSD_IMM_ToC:entry' %}">&#8658;</a>Return to the table of contents

</body>
</html>